* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #111;
  --darker-gray: #222;
  --darkest-gray: #181818;
  --gray: #444;
  --green: #684;
  --light-gray: #888;
  --light: rgba(248, 248, 248, 0.85);
  --red: #C66;
  --shadow: rgba(248, 248, 248, 0.5);
  --white: #EEE;
  --yellow: #CC6;
}

body {
  background-color: var(--black);
  color: var(--light);
  font-family: monospace;
  font-size: 16px;
  height: 100%;
  line-height: 1.25em;
  margin: 0;
  width: 100%;
}

.panel {
  background-color: var(--darkest-gray);
  display: none;
  height: 100%;
  max-width: 320px;
  min-width: 128px;
  position: fixed;
  width: 25%;
  z-index: 10;
}

.panel.-open {
  display: block;
}

.panel > .title {
  border-bottom: 1px solid var(--gray);
  font-weight: lighter;
  margin: 0;
  padding: 16px 0;
  text-align: center;
}

.panel > .content {
  overflow-y: scroll;
  height: calc(100% - 53px);
}

#Field {
  margin: 37px auto;
  text-align: center;
  vertical-align: middle;
  z-index: 0;
}

#Inventory {
  border-left: 1px solid var(--gray);
  right: 0;
}

#Inventory.-open {
  display: block;
}

#Items {
  background-color: var(--darkest-gray);
  display: none;
  height: 200px;
  left: 15%;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

#Items.-open {
  display: block;
}

#Log {
  border-right: 1px solid var(--gray);
  left: 0;
}

#Log p {
  border-bottom: 1px solid var(--darker-gray);
  font-size: 14px;
  margin: 0;
  padding: 8px;
}

#Log .position {
  color: var(--light-gray);
  display: block;
}

#Message {
  background-color: var(--darkest-gray);
  height: 37px;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

#Status {
  background-color: var(--darkest-gray);
  bottom: 0;
  padding: 8px 16px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

#Status > section {
  display: inline-block;
  width: calc(100% / 3);
}

#Status > section.-center {
  text-align: center;
}

#Status > section.-left {
}

#Status > section.-left > .stat:not(:first-of-type) {
  margin-left: 16px;
}

#Status > section.-right {
  text-align: right;
}

#Status > section.-right > .stat {
  margin-right: 16px;
}

#Status .energy-bar {
  border: 2px solid var(--white);
  border-radius: 2px;
  display: inline-block;
  height: 20px;
  padding: 2px;
  vertical-align: bottom;
  width: 96px;
}

#Status .energy-bar > .energy {
  background-color: var(--green);
  display: block;
  height: 100%;
  width: 100%;
}

#Status .energy-bar > .energy.-critical {
  background-color: var(--red);
}

#Status .energy-bar > .energy.-low {
  background-color: var(--yellow);
}

#Status .unit {
  color: var(--shadow);
  margin-left: 4px;
}
